@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-md-12">
        <h2>About</h2>
        <p>This ASP.NET MVC Web App is part of a demonstration presented at the Dallas .NET User Group on Sept. 14, 2017.</p>
        <p>All code for this demo lives on Github at <a href="https://github.com/dougvdotcom/ddnug-microservices">https://github.com/dougvdotcom/ddnug-microservices</a></p>
    </div>
</div>